# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.sqlite3
backend/.env
backend/media/
backend/staticfiles/

# Node
node_modules/
frontend/dist/

# Editors / OS
.vscode/
.idea/
.DS_Store

.env
backend/.env.example
backend/*.sqlite3.*
